.lotto-modal-wrapper{
    margin-top: 74px;
    font-size: 16px;
    height: 600px;
}
.modal-body {
    overflow-y: scroll;
	height:600px;
}

.modal-header {
    min-height: 16.43px;
    padding: 10px 10px 5px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #c83434;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #fff;
    margin-bottom: 20px;
}
.modal-body table{}
.modal-body table th{ text-align:center;background-color: rgba(242,242,242,0.5);padding: 2px;border: solid 1px #ddd;}
.modal-body table td {
    border: solid 1px #e1e1e1;
    color: #333;
    padding: 2px 4px;
    text-align: left;
	font-size:14px;
}
.table-hover>tbody>tr:hover {
    background-color: #fffbc3;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 2px 4px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    border-right: solid 1px #ddd;
	border-left: solid 1px #ddd;
	font-size: 14px;
	vertical-align: middle;
}
.modal-content h1{font-size: 24px;color: #c83434;}
.modal-content h2{ font-size:16px; color:#333;font-weight:bold;margin-bottom: 5px;}
.modal-content h4{ margin:0 0 15px; font-size:18px; font-weight:normal;}
.modal-content .ex_text{ line-height: 1.6;margin-bottom: 15px;}
.modal-lg {
    width: 1000px;
}